---
import { GraphQLClient } from "graphql-request";
import type { GetStaticPaths } from "astro";
import PostLayout from "../../layouts/PostLayout.astro";

type Posts = {
    posts: {
        slug: string;
        title: string;
        body?: {
            text: string;
        }
    }[];
}

export const getStaticPaths = (async () => {
    const client = new GraphQLClient(import.meta.env.HYGRAPH_ENDPOINT)

    const allPostsQuery = `
    query AllPosts {
            posts {
                title
                slug
                body {
                    html
                }
            }
        }`


    const {posts}: Posts = await client.request(allPostsQuery)

    return posts.map ( (post: any) => ({
        params: {
            slug: post.slug
        },
        props: { post }
    }) )
}) satisfies GetStaticPaths;

const { post } = Astro.props

---

<PostLayout title={post.title}>
    <h1>{post.title}</h1>
    <div set:html={post.body.html}></div>
</PostLayout>
