---
import { GraphQLClient } from "graphql-request";
import type { GetStaticPaths } from "astro";
import PostLayout from "../layouts/PostLayout.astro";

// New GraphQL client with Hygraph endpoint
const client = new GraphQLClient(import.meta.env.HYGRAPH_ENDPOINT);

// Declare Post type
type Post = {
    post: {
        slug: string;
        title: string;
        body: {
            text: string;
        }
    }[];
}

export const getStaticPaths = (async () => {
    
    const postContentQuery = `
        query postContentQuery {
            post {
                slug
                title
                body {
                    text
                }
            }    
        }`

    const { post }: Post = await client.request(postContentQuery)

    return post.map( post => ({
        params: {
            slug: post.slug
        },
        props: { post }
    })

    );
}) satisfies GetStaticPaths;

const { post } = Astro.props

---

<PostLayout title={post.title}>
    <h1>{post.title}</h1>
    <p>{post.body.text}</p>
</PostLayout>