---
import PageLayout from '../layouts/PageLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle="Anime & Manga"
---

<PageLayout title={pageTitle} pageHeader={pageTitle}>
	<section>
		<BlogPost 
		title="Example Blog Post"
		body="Lorem ipsum dolor sit amet consectetur. Pellentesque dictum turpis sed at egestas. Facilisis eget sed posuere nulla morbi amet neque odio orci. Purus enim volutpat sapien adipiscing..."
		/>
	</section>
</PageLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
