---
import PageLayout from '../layouts/PageLayout.astro';
import Header from '../components/Header.astro';

const pageTitle="Anime & Manga"
---

<PageLayout title={pageTitle} pageHeader={pageTitle}>
	<main>
		<ul>
            <li><a href="/posts/test-post">Test Post</a></li>
        </ul>
	</main>
</PageLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
