---
import BlogPostContent from "./BlogPostContent";
const { post } = Astro.props

---

<div class="w-full max-w-screen-sm mx-auto flex flex-col gap-2">
    <a href=`/posts/${post.slug}`>
        <h2>{post.title}</h2>
    </a>
    <BlogPostContent post={post} />
</div>