---
import { Icon } from 'astro-icon/components'
import Socials from '../components/Socials.astro';
---
<footer>
    <div>
        <p>Follow or contact Overanalyzing Anime</p>
        <Socials></Socials>
    </div>
    <div>
        <p>Designed and developed by Asia</p>
        <p><Icon name="ph:copyright" class="w-6 h-6"/>Overanalyzing Anime</p>
    </div>
</footer>