---
import Nav from "../components/Nav.astro";
---
<div class="w-screen px-32 py-10 bg-overlay" 
    style="--overlay-image: url('../../src/assets/headerBkgd.png'); 
    --overlay-colors: rgba(10, 10, 10, 1), rgba(10, 10, 10, 0.6);">
    <Nav></Nav>
    <p>Page Name</p>
</div>