---
import Nav from "../components/Nav.astro";
---
<div class="w-full px-10 py-10 bg-gradient-to-b from-neutral-950 to-transparent bg-[url('../../src/assets/headerBkgd.jpeg')] bg-blend-overlay">
    <Nav></Nav>
    <p>Page Name</p>
</div>